<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxiDLWwR3Y0h8xOekIed2NLxP_nw8e9gU</string>
	<key>GCM_SENDER_ID</key>
	<string>691806673031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medigard.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>medigarden-da20f</string>
	<key>STORAGE_BUCKET</key>
	<string>medigarden-da20f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691806673031:ios:fcfbcbd5e2715bdeb60022</string>
</dict>
</plist>